
@media(max-width: 768px){
  .desktop-version{
    display: none;
  }

  .footer{
    height: 70px;
  }
}

@media(min-width: 768px){
  .mobile-version{
    display: none;
  }
}

ol.rectangle-list {
  list-style-type:none;
  list-style-type:decimal !ie;
  counter-reset:li-counter;
}

.fullWidth ul, ol {
  padding:0;
  line-height:140%;
}

ol {
  list-style-position:inside;
}

.rectangle-list li {
  position:relative;
  display:block;padding:.4em .4em .4em .8em;
  margin:.5em 0 .5em 2.5em;

  text-decoration:none;
  transition:all .3s ease-out;
}

.rectangle-list li:hover {
  background:#eee;
}

img.js-srcset-img{
  width:100%;
  height:auto;
}

.results{
  background:#F3F3F3;
  padding:1em;
  margin:15px 0;
}


.rectangle-list li:before {
  content:counter(li-counter);
  counter-increment:li-counter;
  position:absolute;
  left:-2.5em;
  top:50%;margin-top:-1em;
  color:white;
  background:#d10000;
  height:2em;
  width:2em;
  line-height:1.7em;
  text-align:center;
  border-radius:35px;
  -webkit-border-radius:35px;
  -o-border-radius:35px;
  -ms-border-radius:35px;
  -moz-border-radius:35px;
  font-weight:bold;}

p.bold {
  font-weight:bold;
}

.results {
  background:#F3F3F3;
  padding:1em;
  margin:15px 0;
}

p.pink-text {
  color: #0198bd !important;
    }

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

p.update .red-text {
  color: #F00 !important;
}

.revival-box {
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.revival-box .rev {
  margin-bottom: 15px;

}


@media (max-width: 472px){
  .resp-size {
    width:300px !important;
    height:300px !important;

  }
}

@media (min-width: 472px) and (max-width: 768px){
  .resp-size {
    width:400px !important;
    height:400px !important;

  }
}

@media (min-width: 768px) and (max-width: 991px){
  .resp-size {
    width:500px !important;
    height:500px !important;

  }
}

@media (min-width: 991px) and (max-width: 1199px){
  .resp-size {
    width:600px !important;
    height:600px !important;

  }
}

@media (min-width: 1199px){
  .resp-size {
    width:700px !important;
    height:700px !important;

  }
}

/*resptsize2*/

@media (max-width: 472px){
  .resp-size2 {
    width:300px !important;
    height:451px !important;

  }
}

@media (min-width: 472px) and (max-width: 768px){
  .resp-size2 {
    width:400px !important;
    height:601px !important;

  }
}

@media (min-width: 768px) and (max-width: 991px){
  .resp-size2 {
    width:500px !important;
    height:751px !important;

  }
}

@media (min-width: 991px) and (max-width: 1199px){
  .resp-size2 {
    width:600px !important;
    height:901px !important;

  }
}

@media (min-width: 1199px){
  .resp-size2 {
    width:700px !important;
    height:1052px !important;

  }
}

/*resp-size5*/


@media (max-width: 472px){
  .resp-size5 {
    width:300px !important;

  }
}

@media (min-width: 472px) and (max-width: 768px){
  .resp-size5 {
    width:400px !important;
    

  }
}

@media (min-width: 768px) and (max-width: 991px){
  .resp-size5 {
    width:500px !important;
    
  }
}

@media (min-width: 991px) and (max-width: 1199px){
  .resp-size5 {
    width:600px !important;
    

  }
}

@media (min-width: 1199px){
  .resp-size5 {
    width:700px !important;
  

  }
}

/*resp-size3*/


@media (max-width: 472px){
  .resp-size3 {
    width:300px !important;
    height:89px !important;

  }
}

@media (min-width: 472px) and (max-width: 768px){
  .resp-size3 {
    width:450px !important;
    height:133px !important;

  }
}

@media (min-width: 768px) and (max-width: 991px){
  .resp-size3 {
    width:600px !important;
    height:177px !important;

  }
}

@media (min-width: 991px) and (max-width: 1199px){
  .resp-size3 {
    width: 750px !important;
    height:222px !important;

  }
}

@media (min-width: 1199px){
  .resp-size3 {
    width:850px !important;
    height:251px !important;

  }
}

/*resp-size4*/


@media (max-width: 472px){
  .resp-size4 {
    width:300px !important;
    
  }
}

@media (min-width: 472px) and (max-width: 768px){
  .resp-size4 {
    width:450px !important;
  

  }
}

@media (min-width: 768px) and (max-width: 991px){
  .resp-size4 {
    width:600px !important;
   

  }
}

@media (min-width: 991px) and (max-width: 1199px){
  .resp-size4 {
    width:750px !important;

  }
}

@media (min-width: 1199px){
  .resp-size4 {
    width:850px !important;

  }
}


@media (min-width: 1199px) {

.center-it {
display: block !important;
margin-left: 180px !important;
}
}

 @media (min-width: 991px) and (max-width: 1199px) {

.center-it {
display: block !important;
margin-left: 120px !important;
}
}

@media (min-width: 768px) and (max-width: 991px) {

.center-it {
display: block !important;
margin-left: 10px !important;
}
}

.revival-box .button {
  margin: 0 auto 20px auto;
}

.revival-box .button {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.m-t-25 {
  margin-top: 25px !important;
}

.revival-text {
        text-align: center !important;
}

.myButton {
        text-align: center;

        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #40ad5d), color-stop(1, #5cbf2a));
        background: -moz-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
        background: -webkit-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
        background: -o-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
        background: -ms-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
        background: linear-gradient(to bottom, #40ad5d 5%, #5cbf2a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40ad5d', endColorstr='#5cbf2a', GradientType=0);
        background-color: #40ad5d;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 19px;
        padding: 12px 21px;
        text-decoration: none;
        text-shadow: 1px 1px 0px #2f6627;
        margin: 0 auto;
}

.myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #40ad5d));
        background: -moz-linear-gradient(top, #5cbf2a 5%, #40ad5d 100%);
        background: -webkit-linear-gradient(top, #5cbf2a 5%, #40ad5d 100%);
        background: -o-linear-gradient(top, #5cbf2a 5%, #40ad5d 100%);
        background: -ms-linear-gradient(top, #5cbf2a 5%, #40ad5d 100%);
        background: linear-gradient(to bottom, #5cbf2a 5%, #40ad5d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#40ad5d', GradientType=0);
        background-color: #5cbf2a;
}

.myButton:active {
        position: relative;
        top: 1px;
}

.m-b-8 {
    margin-bottom: 8px !important;
}

p.update {
  border: 1px dotted #000;
  background: #EFFFF7;
  padding: 4px 9px;
}

p.update .red-text {
  color: #F00 !important;
}

.testimonial {
  margin:1em 0;
}

.testimonial img {
  float:left;
  margin:0;
  padding:0;}

.testimonial p {
  float:left;
  width:50%;
  margin-left:1em;
}
.rectangle-list li:hover:after {
  left:-.6em;
  border-left-color:#d10000;
}
.rectangle-list li:after {
  position:absolute;
  content:'';
  border:.5em solid transparent;
  left:-1em;
  top:50%;
  margin-top:-.5em;
  transition:all .3s ease-out;}
.header {
  background-color: black;
  color: white;
}

.header img:first-child {
  display: inline-block;
  margin-top: -8px;
}

.logo {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: -10px;
}

.logo> span {
  font-size: 27px;
  display: inline-block;
}

.img-caption {
  font-size: 13px;
  margin-top: 7px;
}
.rose {
	color: #f25268;
	font-size: 16px;
}
.gray {
  color: gray;
}

.box {
  padding: 10px;
  text-align: center;
  margin-top: 7px;
  font-style: italic;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

.red-link {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

.last-box {
  background: #F3F3F3;
  padding: 1em;
  margin-bottom: 10px;
}

.adv-body {
  text-align: center;
  margin-top: 20px;
}

.adv-body .btn-warning {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.one-comment {
  margin-bottom: 15px;
}

.comment-footer {
  margin-top: -10px;
}

.comments a {
  color: #337ab7;
  font-weight: bold;
}

.comments a:hover {
  color: #23527c;
}

.block {
  display: block;
}

.comment-time {
  cursor: help;
  border-bottom: 1px dotted #777;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background: #00BBEF;
  padding: 5px;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.footer:hover {
  height: 55px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.footer .btn-default {
  padding: 5px;
  color: #00bbef;
  margin-left: 10px;
  margin-bottom: 5px;
  
}
.footer .btn-default:hover {
  background-color: #f0ad4e;
  color: #FFF;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  
}
.chocolite-wrapper {
    border: 1px solid #f0ad4e;
    background: rgba(196, 196, 196, 0.15);
    padding: 45px 15px;
}
.chocolite-wrapper img {
	width: 100%;
    border: 1px solid #fbdeb6;
}


@media(max-width: 768px){
  .chocolite-wrapper img {
	width: 100%;
	}
	.adv-body {
    text-align: center;
    margin-top: 0;
	}
	.adv-body h2 {
    font-size: 22px;
	}
}
.chocolite-wrapper .strike {
    color: #ff9600;
    text-decoration: line-through;
}
.chocolite-wrapper .btn-warning {
	text-decoration: none;
    padding: 14px 40px;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
.chocolite-wrapper .btn-warning:hover {
  background-color: #ff9800;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
.comments {
	margin-top: 30px;
	margin-bottom: 10px;
}


@media(max-width: 768px){
  .footer{
    height: 55px;
  }
  .footer:hover{
    height: 70px;
    line-height: 65px;
  }
}

.fb-comment {
    padding: 10px 0px 10px 20px;
}

.fb-comment .topLine {
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    margin-bottom: 15px;
}

.fb-comment .statusPic img {
    width: 50px;
}

.fb-comment .img-circle {
    border-radius: 50%;
}

.fb-comment .statusName {
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    color: #2b5599;
    margin-bottom: 0;
}

.fb-comment .statusText {
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
}

.fb-comment .statusDate {
    color: #90949c;
    border-bottom: 0;
    text-decoration: none;
}

.fb-comment .statusIconWrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.fb-comment .statusIcon {
    background-image: url(../images/smiles.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -70px -88px;
    display: block;
    height: 13px;
    width: 13px;
    position: absolute;
    top: -8px;
}

.fb-comment .statusIcon2 {
    background-image: url(../images/smiles.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -84px -88px;
    display: block;
    height: 13px;
    width: 13px;
    position: absolute;
    top: -8px;
    left: 9px;
}

.fb-comment .statusLikeCount2 {
    padding-left: 25px;
}

.fb-comment .statusLikeCount {
    padding-left: 15px;
}

.fb-comment .statusLikeCount0 {
    padding-left: 0;
}

.fb-comment .statusLinks, .commentLinks, .commentLikes {
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    color: #365899;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}
.comment-box a {
	text-decoration: none;
	color: none;
}
.comment-box {
    padding: 10px 0 60px
}

.comment-box .comment {
    padding: 10px 0
}

.comment-box .comment:after {
    clear: both;
    display: block;
    visibility: hidden
}

.comment-box .comment .pic {
    float: left
}

.comment-box .comment .desc {
    display: table;
    padding: 0 10px;
    font-size: 13px;
    line-height: 18px
}

.comment-box .comment .desc p {
    padding: 0
}

.comment-box .comment .desc .post span {
    color: #337ab7
}

.comment-box .comment .desc .post span.time {
    color: #333;
    border-bottom: 1px dotted #777;
    cursor: help
}
